/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #d963bd;
    margin-left: 200px;
}

  /* Estilos para los encabezados */
h1 {
    color: #034828;
    font-size: 24px;
}

  /* Estilos para los enlaces */
a {
    color: #007bff;
    text-decoration: none;
}
